@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');


body{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;
    max-width: 900px;
    overflow: hidden;
}

h1{ 
    font-family: 'Frijole', cursive;
    font-size: 60px;
    color: rgb(141, 62, 62);
    margin:0;
    padding: 0;
    -webkit-text-box-shadow: 13px 9px 4px #7a7a7a;
    -moz-text-box-shadow: 13px 9px 4px #7a7a7a;
    text-shadow: 13px 9px 4px #7a7a7a;
}

.center{
    display: flex;
    align-items: center;
}

.logo{
    width: 60px;
    height: 60px;
    padding-left: 20px;
}



canvas{
    background-color: wheat;
    border: ridge;
    border-color: indianred;
    border-width: 8px 5px 8px 5px;
    border-radius: 25px;
    -webkit-box-shadow: 13px 9px 4px -4px #7a7a7a;
    -moz-box-shadow: 13px 9px 4px -4px  #7a7a7a;
    box-shadow: 13px 9px 4px -4px  #7a7a7a;
    background-image: url(img/fond.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.divInfo{
    height: 22px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: solid 1px;
    font-family: orbitron;
    border: ridge;
    border-color: indianred;
    border-radius: 5px;
    color: indianred;
    background-color: wheat;
    -webkit-box-shadow: 13px 9px 4px -4px #7a7a7a;
    -moz-box-shadow: 13px 9px 4px -4px  #7a7a7a;
    box-shadow: 13px 9px 4px -4px  #7a7a7a;   
}

.blink{
    animation: blink 1.5s linear infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

#info{
    padding-left: 100px;
}

.speaker{
  cursor: pointer;
}

.score{
    padding-right: 5px;
}
